body{font-family:sans-serif}
.container{min-height:100%;position:relative}
.banner{background-color:#365d95;min-height:70px;width:100%;overflow:hidden}
.banner img{float:left}
.banner a{text-decoration:none}
h1{margin:.5em 3em;color:#fff}
.body{height:100%;padding:10px}
.form{background:#EAEBEE;padding-top:10px;border-radius:10px}
.form label{float:left;font-weight:700;text-align:right;width:250px;color:#365D95}
.form .small{color:#666;display:block;font-size:11px;font-weight:400;text-align:right;width:250px}
.form input,textarea,select{margin:2px 0 20px 20px;border-radius:4px}
.form select{padding-left:10px;}
.form input,textarea{width:60%;border:1px solid #bbb;border-top:1px solid #777;border-bottom:1px solid #ddd;float:left;margin-right:10px}
.form button{cursor:pointer;margin-bottom:20px;clear:both;margin-left:43.5%;font-weight:700;border:0 outset buttonface;background:#F5F6F8;background-image:-webkit-linear-gradient(top,#F5F6F8,#DBDCDE);background-image:-moz-linear-gradient(top,#F5F6F8,#DBDCDE);background-image:-ms-linear-gradient(top,#F5F6F8,#DBDCDE);background-image:-o-linear-gradient(top,#F5F6F8,#DBDCDE);background-image:linear-gradient(to bottom,#F5F6F8,#DBDCDE);-webkit-border-radius:28;-moz-border-radius:28;border-radius:28px;-webkit-box-shadow:0 1px 3px #666;-moz-box-shadow:0 1px 3px #666;box-shadow:0 1px 3px #666;font-family:Arial;color:#365D95;font-size:14px;padding:10px 50px;text-decoration:none}
.form button:hover{text-decoration:none;color:#2a70d3}
.menu:hover{color:#2a70d3}
.metadatafile, .address{background:#fff;padding-left:0;margin-left:25px;}
footer{padding:0 1em;width: 75%;overflow:hidden}
footer a img{float:left;margin:0 15px 0 0}
footer p{margin-top:30px;color:#7C8395}
.hiddenlabel{display:none}
.more{padding-top:60px;padding-left:15px;padding-bottom:10px;cursor:pointer;font-weight:700;color:#365D95;width:120px}
.more img{padding-bottom:2px}
.menu{border-bottom-style:dashed;border-bottom-width:thin}
.options{display:none;}
.fancy-line{border:0;height:2px;margin-bottom:20px;clear:both}
.fancy-line,.fancy-line:before{background:radial-gradient(ellipse at center,rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%)}
.loadsamples {float: right;margin-right:10px}
.buttonsample{cursor:pointer;margin-bottom:10px;clear:both;font-weight:700;border:0 outset buttonface;background:#F5F6F8;background-image:-webkit-linear-gradient(top,#F5F6F8,#DBDCDE);background-image:-moz-linear-gradient(top,#F5F6F8,#DBDCDE);background-image:-ms-linear-gradient(top,#F5F6F8,#DBDCDE);background-image:-o-linear-gradient(top,#F5F6F8,#DBDCDE);background-image:linear-gradient(to bottom,#F5F6F8,#DBDCDE);-webkit-border-radius:4;-moz-border-radius:4;border-radius:4px;-webkit-box-shadow:0 1px 3px #666;-moz-box-shadow:0 1px 3px #666;box-shadow:0 1px 3px #666;font-family:Arial;color:grey;font-size:14px;padding:10px 5px;text-decoration:none}
.buttonsample span{color:#365D95}
.buttonsample:hover span{color:#2a70d3}
.editorfloatleft{float:left;margin-right:10px}
.errormessage{font-size:11px;color:red}

/* TABS */
.ui-helper-reset{margin:0;padding:0;border:0;outline:0;line-height:1.3;text-decoration:none;font-size:100%;list-style:none}
.ui-helper-clearfix:before,.ui-helper-clearfix:after{content:"";display:table;border-collapse:collapse}
.ui-helper-clearfix:after{clear:both}
.ui-helper-clearfix{min-height:0}
.ui-tabs{position:relative;padding:.2em;width:1200px}
.ui-tabs .ui-tabs-nav li{list-style:none;float:left;position:relative;top:0;margin:1px .2em 0 0;border-bottom-width:0;padding:0;white-space:nowrap}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor{float:left;padding:.5em 1em;text-decoration:none;outline-width:0}
.ui-tabs .ui-tabs-nav li.ui-tabs-active{margin-bottom:-1px;padding-bottom:1px}
.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor,.ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor,.ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor{cursor:text}
.ui-tabs .ui-tabs-panel{display:block;border-width:0;background:#EAEBEE;border:1px solid #ccc}
.ui-widget{font-family:Trebuchet MS,Tahoma,Verdana,Arial,sans-serif}
.ui-widget input,.ui-widget select,.ui-widget textarea,.ui-widget button{font-family:Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;font-size: 15px;}
.ui-widget-content a{color:#333}
.ui-widget-header a span{color:#365D95}
.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default{border:1px solid #ccc;background:#f6f6f6;font-weight:700}
.ui-state-default a,.ui-state-default a:link,.ui-state-default a:visited{text-decoration:none}
.ui-state-active,.ui-widget-content .ui-state-active,.ui-widget-header .ui-state-active{background:#EAEBEE}
.ui-state-hover a span{color:#2a70d3}
.ui-corner-all,.ui-corner-top,.ui-corner-left,.ui-corner-tl{border-top-left-radius:4px}
.ui-corner-all,.ui-corner-top,.ui-corner-right,.ui-corner-tr{border-top-right-radius:4px}
.ui-corner-all,.ui-corner-bottom,.ui-corner-left,.ui-corner-bl{border-bottom-left-radius:4px}
.ui-corner-all,.ui-corner-bottom,.ui-corner-right,.ui-corner-br{border-bottom-right-radius:4px}