body{font-family:sans-serif}
.banner{background-color:#365d95;min-height:70px;width:100%;overflow:hidden}
.banner img{float:left}
.banner a{text-decoration:none}
h1{margin:0.5em 3em;color:#fff}
.Class_Name{width:8.9%}
.Rule_ID{width:6.3%}
.Rule_Severity{width:9.9%}
.Rule_Description{width:12%}
.Message{width:17%}
.Subject{width:15.3%}
.Predicate{width:15.3%}
.Object{width:15.3%}
table{border-collapse:collapse;border:1px solid #d7d7d7}
td,th{border:1px solid #d7d7d7;padding:.2ex .5em}
tfoot{display:table-header-group}
tfoot input{width:100%;padding:3px;box-sizing:border-box;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;}
#results_filter{display:none}
.hiddenlabel{display: none}